html, body, ul, ol, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

main, div, section, article, span {
    box-sizing: border-box;
}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

